<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3 text-center">
      <div class="about_page">
        <h1>About This Application</h1>
        <p>This is a simple blog app created using Rails</p>
      </div>
    </div>
  </div>
</div>  
  
